body {
    background-color: #c9e9fb;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

#next {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 2em;
}

a {
    text-decoration: none;
    color: #133e6b;
}

a:hover {
    color: #234f8f;
    text-decoration: underline;
}

p {
    margin: 1em;
    font-size: 10px;
    text-align: justify;
}

p + p {
    margin-top: -0.5em;
}

#choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2em;
    width: 95vw;
    margin: auto;
}

#choices > div {
    height: 70vh;
    min-height: 52vw;
    background-color: #92c7e5;
    transition: all .2s ease;
    position: relative;
}

#choices > div:hover {
    background-color: #62a6cd;
}

#choices > div > div:not(.navigation) {
    display: none;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#choices > div > div.active {
    display: block;
}

.navigation {
    position: absolute;
    left: 50%;
    bottom: 1vh;
    transform: translate(-50%, 0%);
}

.navigation > .icon {
    cursor: pointer;
    height: .8em;
    width: .8em;
    padding: 0;
    margin: 0 .12em;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
}

.navigation > .active {
    background-color: #e3f5ff;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

@media (min-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    #next {
        font-size: 16px;
    }

    #choices {
        width: 90vw;
    }

    #choices > div {
        min-height: 50vw;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    #next {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    #choices {
        width: 80vw;
    }

    #choices > div {
        min-height: 42vw;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    #next {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    #choices {
        width: 60vw;
    }

    #choices > div {
        min-height: 32vw;
    }
}
