body {
    background-color: #c9e9fb;
}

h1 {
    text-align: center;
}

#choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2em;
    width: 60vw;
    margin: auto;
}

#choices > div {
    height: 70vh;
    background-color: #92c7e5;
    transition: all .2s ease;
}

#choices > div:hover {
    background-color: #62a6cd;
}
